.company_logo {
  width:150px;
  height:40px;
}
.ebao_logo{
  width:120px;
  height:35px;
}
.navbar-brand {
  padding:5px;
}

body {
  padding-top: 60px;
  padding-bottom: 70px;
  min-height: 900px;
}

.prod_cate_group_list{
  border: 0px;
}

.panel-table {
  padding: 0px;
  margin-bottom: 0px;
}