<!DOCTYPE html>
<html lang="en" ng-app="salesPlatform">
<head>
  <meta charset="utf-8">
  <title>eBao SalesPlatform</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="liliang.zhu">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.ico">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
  
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app/directives.js"></script>
  <script type="text/javascript" src="js/app/controllers.js"></script>
</head>

<body>

 
 
<div class="container">
  
  <sp-header-nav></sp-header-nav>
  
	<div class="row clearfix">
		<div class="col-md-8 column">
      <div class="panel panel-default">
        <div class="panel-body">
          <product_cate_media></product_cate_media>
        </div>
      </div>
		</div>
		<div class="col-md-4 column">
    
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Don't know what exactly you need?</h4>
          <p>We can look into your current financial situation, understand your insurance needs,and create a financial plan together.</p>
          <p class="pull-right"><a class="btn btn-primary btn-lg" href="#" role="button">View Case Studies <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Already have a product in mind?</h4>
          <p>Let's quickly work out a proposal tailored to your personal needs.</p>
          <form role="form">
            <div class="form-group">
            
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Select Product" aria-label="...">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu"  ng-controller="ProductListController as productListCTRL">
                    <li ng-repeat="product in productListCTRL.products">{{product.name}} - {{product.code}}</li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div>
            <div class="form-group">
              <label for="">Or</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Select Package" aria-label="...">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-controller="PackageListController as packageListCTRL">
                    <li ng-repeat="package in packageListCTRL.packages">{{package.name}} - {{package.code}}</li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </div>
             <p class="pull-right"><a class="btn btn-primary btn-lg" href="#" role="button">Submit <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></p>
          </form>
      
        </div>
      </div>
      
      
		</div>
	</div>
 
</div> 

<sp-footer-nav></sp-footer-nav>

</body>
</html>
