<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

</head>

<body>
 
<div class="container">
  
  
	<div class="row clearfix">
		<div class="col-md-8 column">
      <div class="panel panel-default">
        <div class="panel-body">
          <product_cate_media></product_cate_media>
        </div>
      </div>
		</div>
		<div class="col-md-4 column">
    
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Don't know what exactly you need?</h4>
          <p>We can look into your current financial situation, understand your insurance needs,and create a financial plan together.</p>
          <p class="pull-right"><a class="btn btn-primary btn-lg" href="#" role="button">View Case Studies <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Already have a product in mind?</h4>
          <p>Let's quickly work out a proposal tailored to your personal needs.</p>
          <form role="form">
            <div class="form-group">
                          
              <select class="form-control" ng-controller="ProductListController as productListCTRL">
                <option>Select a product</option>
                <option ng-repeat="product in productListCTRL.products">{{product.name}} - {{product.code}}</option>
              </select>
              <label for="">Or</label>
              <select class="form-control" ng-controller="PackageListController as packageListCTRL">
                <option>Select a product package</option>
                <option ng-repeat="package in packageListCTRL.packages">{{package.name}} - {{package.code}}</option>
              </select>
            </div>
             <p class="pull-right"><a class="btn btn-primary btn-lg" href="#" role="button">Submit <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a></p>
          </form>
      
        </div>
      </div>
      
      
		</div>
	</div>
 
</div>


</body>
</html>